# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
_vendor

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

thrust
demo

ThrustShell.app
thrust-v0.7.0-linux-x64

vendor/linux/x64/content_shell.pak
vendor/linux/x64/icudtl.dat
vendor/linux/x64/libchromiumcontent.so
vendor/linux/x64/libffmpegsumo.so
vendor/linux/x64/thrust_shell

vendor/darwin/x64/ThrustShell.app

release/go-thrust/vendor/linux/x64/content_shell.pak
release/go-thrust/vendor/linux/x64/icudtl.dat
release/go-thrust/vendor/linux/x64/libchromiumcontent.so
release/go-thrust/vendor/linux/x64/libffmpegsumo.so
release/go-thrust/go-thrust/vendor/linux/x64/thrust_shell

release/vendor/darwin/x64/ThrustShell.app

dist/*

tutorial/bin/*

release

vendor

dummy_session

cache/*

*cache*