<!DOCTYPE html>
<html>
  <head>
    <script>{{template "chat.js"}}</script>
    <style>{{template "chat.css"}}</style>
  </head>
  <body onLoad="init();" height="100%">
  <img height="60px" width="200px" src="http://i.imgur.com/DwFKI0J.png"/>
  <br/>
  <h3>Welcome to the Go-Thrust Chat Demo.</h3>
    <div id="msg"></div>
    <form name="msgform" action="#" onsubmit="return send();">
      <input type="text" name="name" size="0" value="J. Doe" />
      <input type="text" name="message" size="0" value="" />
      <input type="submit" value="send" />
    </form>
  </body>
</html>
